<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link href="/css/style.css" rel="stylesheet">
        
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {# {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %} #}
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand  ms-2 me-5" title="Homepage Velvet Record"href="{{path ('app_home')}}"><img src="/images/record.png" height="48" width="auto"></a><!-- Les images, les fichiers css sont dans public car c'est le point de départ -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="col-8 navbar-nav mr-auto">
            
                {# <li class="nav-item active">
                    <a class="nav-link" title="Home" href="{{path ('app_home')}}"><svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16"><path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z"/></svg><span class="sr-only (current)"></span></a>
                </li> #}
                {# <li>
                    <a class="nav-link" href="{{path ('app_profil_index')}}">Accueil<span class="sr-only"></a>
                </li> #}
                <li class="nav-item">
                    <a class="nav-link ms-5 navtext" title="Liste des artiste" href="{{path ('app_artist_index')}}"> Artiste</a>
                </li>
                <li class="nav-item me-5">
                    <a class="nav-link navtext" title="liste des disque" href="{{path ('app_disc_index')}}">Disque</a>
                </li>
                <div class="dropdown ahah">
                    <button class="btn dropdown-toggle navtext ahah" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-person-fill navtext" viewBox="0 0 16 16"><path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/></svg></button>
                        <ul class="dropdown-menu bg-dark ahahb" aria-labelledby="dropdownMenu2"><!-- le contenant de la liste est translucide -->
                            {% if not app.user %}<!-- Ne s'affiche qu'en absence de session (Connexion et S'enregistrer) -->
                                <li><button class="dropdown-item nav-link navtext ahah" type="button" title="Aller à la page de connexion"><a class="dropdown-item nav-link navtext ahah" href="{{path ('app_login')}}">Se connecter</a></button></li>
                                <li><button class="dropdown-item nav-link navtext ahah" type="button" title="Se créer un compte | Première connexion"><a class="dropdown-item nav-link navtext ahah" href="{{path ('app_register')}}">S'enregistrer</a></button></li>
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <li><button class="dropdown-item nav-link navtext ahah" type="button" title="Liste des utilisateurs"><a class="dropdown-item nav-link navtext ahah" href="{{path ('app_user_index')}}"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-person-rolodex text-warning me-2" viewBox="0 0 16 16"><path d="M8 9.05a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/><path d="M1 1a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h.5a.5.5 0 0 0 .5-.5.5.5 0 0 1 1 0 .5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5.5.5 0 0 1 1 0 .5.5 0 0 0 .5.5h.5a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H6.707L6 1.293A1 1 0 0 0 5.293 1H1Zm0 1h4.293L6 2.707A1 1 0 0 0 6.707 3H15v10h-.085a1.5 1.5 0 0 0-2.4-.63C11.885 11.223 10.554 10 8 10c-2.555 0-3.886 1.224-4.514 2.37a1.5 1.5 0 0 0-2.4.63H1V2Z"/></svg>Utilisateurs</a></button></li>
                            {% endif %}
                            {% if is_granted('ROLE_CLIENT') %}
                            <li><button class="dropdown-item nav-link navtext ahah" type="button" title="Information sur la session"><a class="dropdown-item nav-link navtext ahah" href="{{ path('app_client_show', {'id': app.user.id }) }}"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-info-lg text-primary me-2" viewBox="0 0 16 16"><path d="m9.708 6.075-3.024.379-.108.502.595.108c.387.093.464.232.38.619l-.975 4.577c-.255 1.183.14 1.74 1.067 1.74.72 0 1.554-.332 1.933-.789l.116-.549c-.263.232-.65.325-.905.325-.363 0-.494-.255-.402-.704l1.323-6.208Zm.091-2.755a1.32 1.32 0 1 1-2.64 0 1.32 1.32 0 0 1 2.64 0Z"/></svg>À propos de {{ app.user.userIdentifier }}</a></button></li>{# path('{ user.id:{id},app_client_show }') #}
                            {% endif %}
                            {% if is_granted('ROLE_USER') %}
                            <li><button class="dropdown-item nav-link navtext ahah" type="button"><a class="dropdown-item nav-link navtext ahah"href="{{ path('app_logout') }}"><svg class="text-danger me-2"xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/><path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/></svg>Déconnexion d'{{ app.user.userIdentifier }}</a></button></li>
                            {% endif %}
                        </ul>
                </div>
            </div>


            {# <form class="form-inline my-2 col-3 my-lg-0 d-flex"> #}
                {# <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn-sm btn-outline-success my-2 my-sm-0 mx-2" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/></svg></button> #}
            {# </form> #}

            {% if app.user %}<!-- utiliser getFullName au lie de userIdentifier -->
                <div title="Si ce n'est pas vous quittez la session" class="connex ms-5 col-2">Bienvenue {{ app.user.getFullName }} <a title="Quitter la session" href="{{ path('app_logout') }}"><svg class="text-danger"xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/><path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/></svg></a>{#  #}
                </div>
            {% endif %}

        </div>
    </nav>

        {% block body %}{% endblock %}
    
    
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    {% block script %}{% endblock %}
    </body>
</html>