{% extends 'base.html.twig' %}

{% block title %}User index
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<h1 class="mt-5 mb-5 ms-3">Index des utilisateurs</h1>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Pseudonyme</th>
					<th>Roles</th>
					<th>Mot de passe</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
					<tr>
						<td>{{ user.id }}</td>
						<td>{{ user.username }}</td>
						<td>{{ user.roles ? user.roles|json_encode : '' }}</td>
						<td>{{ user.password }}</td>
						<td>
							<a href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
							<a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="5">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a class="btn btn-success btn-sm ms-3 mt-5"href="{{ path('app_user_new') }}"><i class="bi bi-person-plus-fill"></i></a>
	</div>
{% endblock %}
